* {
    padding: 0px;
    margin: 0px;
    font-family: "Merriweather", serif;
}

:root {
    --main_color: #2874f0;
    --navbar_color: #2874f0;
    --home_background: #f0f0f0;
}
.app {
    // // min-height: 100vh;
    // // overflow-y: auto;
    // height: 100vh;
    // overflow: hidden;
    // background-color: var(--home_background);
}
.home {
    // background-color: var(--home_background);
    // min-height: 100vh;
    // overflow-y: auto;

    .home-wrapper {
        display: flex;
        gap: 10px;
        margin: 0 auto;
        // min-width: 978px;
        max-width: 1680px;
        padding: 8px;
        top: 60px;
        position: relative;
        margin-bottom: 100px;
        .left {
            flex: 0 0 280px;
            max-width: 280px;
            // padding: 0px 10px 0px 0px;
        }
        .right {
            flex: 4;
        }
    }
}
.c_pagination {
    text-align: center;
    // font-family: monospace;
    padding: 8px 0px;
    float: right;
    .pagination {
        display: flex;
        list-style-type: none;
        .page-item {
            .page-link {
                color: #000000;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color 0.5s;
                border: 1px solid #ddd;
                margin: 0 4px;
                cursor: pointer;
            }
            .active {
                background-color: #0096ff;
                color: #ffffff;
                border: 1px solid #0096ff;
            }
        }
    }
}
