* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

:root {
    --navbar_color: #2874f0;
    --home_background: #f0f0f0;
}
.home {
    background-color: var(--home_background);
    min-height: 100vh;

    .home-wrapper {
        display: flex;
        gap: 10px;
        margin: 0 auto;
        // min-width: 978px;
        max-width: 1680px;
        padding: 8px;
        .left {
            flex: 0 0 280px;
            max-width: 280px;
            padding: 0px 10px 0px 0px;
        }
        .right {
            flex: 4;
            background-color: green;
        }
    }
}
